<html>
  <head>
    <title><%= message %></title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div class="jumbotron">
    <center><h2> The page you requested Cannot be found on this Server </h1>
	<h2><%= message %></h1>
  <center><a href="/"> <<< Return Home</a></center>
	</center>
  </div>
  </body>
</html>

