<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script   src="http://code.jquery.com/jquery-3.2.1.min.js"   integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="   crossorigin="anonymous"></script>
  </head>
  <body ng-app="">
  <div  class="jumbotron">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div class="form-group">
    	<div class="row">
    		<div class="col-md-6">
    		 <center><textarea ng-model="code" class="form-control" rows="6" id="code"></textarea></center>
    		</div>
    		<div class="col-md-6">
    			<p>Output:</p>	
    		</div>
    	</div>
	</div>
  </div>
  <div class="container">
  		<div class="row">
  			<div class="jumbotron">
  				<code>{{code}}</code>
  			</div> <span><button id="show_url" class="btn btn-success">Share</button></span>
  			
  		</div>
  		<div class="form-group">
		  <input  type="text" class="form-control" id="url_encode">
		</div>
  	
  </div>

  <script type="text/javascript">
  	$(document).ready(function(){

  		String.prototype.getDigest = function() {
		  var digest = 0, i, chr;
		  if (this.length === 0) return digest;
		  for (i = 0; i < this.length; i++) {
		    chr   = this.charCodeAt(i);
		    digest  = ((digest << 5) - digest) + chr;
		    digest |= 0; // Convert to 32bit integer
		  }
		  return digest;
		};



  		$("#url_encode").hide();
  		$("button").click(function(){
  			$("#url_encode").val("http://localhost:3000/codes/?q=" + $("#code").val().getDigest());
  			$("#url_encode").show();
  			

  		});
  	});

  </script>
  </body>
</html>
